<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

<!-- Licensed Materials - Property of IBM
     5648-F10 (C) Copyright International Business Machines Corp. 2006
     All Rights Reserved
     US Government Users Restricted Rights - Use, duplication or disclosure
     restricted by GSA ADP Schedule Contract with IBM Corp. -->

</head>

<script src="../jscp.js">
<%
    	var fallBackLocale=property('fallBackLocale');    	
%>

<%@ include file="global.head" %>
<% loadCSSfiles(DEFAULTCSS, "content.css"); %>

<body>

<h1><%= property('licenseInformation') %></h1>

<div>
<p><%= property('description') %></p>

<% licence_path = findFileInPaths(null, ['content/'+top.LOCALE, 'content/'+fallBackLocale], top.parse(property('license_file'))) %>
<% if (!licence_path) licence_path = findFileInPaths(null, ['content/'+top.LOCALE, 'content/'+fallBackLocale], top.parse(property('license_file_en'))) %>

<% if (licence_path) { %>

<p>
<a href="javascript:void 0" onclick="viewPage(NO_DISKID, licence_path)">
  <img src="./images/info_link.gif" alt="<%=property('altImageText')%>" width="25" height="20" border="0">
  <%= top.parse(property('license_agree_title')) %>
</a>
</p>
<% } %>

</div>

</body>
</script>
</html>
